/*
.test-quadon{
    font-family: "quadon",Georgia,serif;
    font-weight: lighter;
}
.not-found{
    font-family: "quadon",Georgia,serif;
    font-weight: bold;
}

.distance-learning-logo-text{
    background: #ffffff;
    color: #005395;
    font-family: serif;
    font-size: 32px;
    position: absolute;
    top: 91px;
    left: 114px;
    padding: 5px;
    min-width: 300px;
}

*/
h1,h2,h3{
    font-family: "quadon",Georgia,serif;
}
h1 .h1-content{
    background: #8CBFD2;
    padding-left: 10px;
}
/*for title content*/
pre.center{
    width: 60%;
    border: #F2773F solid;
}
.teeth-top{
    width: 20%;
    height: 500px;
    display: inline-block;
    float: left;
    -webkit-shape-outside: polygon(0 0,50% 100%, 100% 0);
    shape-outside: polygon(0 0,50% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0,50% 100%, 100% 0);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.teeth-bot{
    width: 20%;
    height: 500px;
    display: inline-block;
    float: left;
    -webkit-shape-outside: polygon(0 100%,50% 0, 100% 100%);
    shape-outside: polygon(0 100%,50% 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%,50% 0, 100% 100%);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#black{
    background: #000;
}
#mian{
    background: #E6D273;
}
#blue{
    background: #015496;
}
#orange{
    background: #F2773F;
}
#lblue{
    background: #8CBFD2;
}



